.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  color: white;
  background-image: white;
}

.form-container,
.login-form {
  display: flex;
  flex-direction: column;
}

h2 {
  color: #55b74e;
}
label {
  text-align: left;
  padding: 0.25rem 0;
  color: #55b74e;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  /* outline: solid; */
  /* outline-color: #55b74e; */
  border-radius: 5px;
  width: 300px;
}

button {
  border: none;
  background-color: #55b74e;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 20px;
}
